body
{

    background-color: black;
    
}

titlediv
{
    
    width: 100%;
    height: auto;
    
}

.title 
{
    text-align: center;
    color: white;
    font-size: 60px;
    text-decoration: underline;
    padding-top: 25px;
    font-family: 'Fjalla One' , sans-serif;
    text-decoration-color: lime;
}

nav
{
	
    background-color: lime;
    text-align: center;
    width: 100%;	
	
}

nav::after
{
	
    content: '';
    display: table;	
    clear: both;	
	
}

nav ul
{
	
    margin: 0px;	
    padding: 20px;
    list-style: none;	
	
}

nav li
{

    display: inline-block;
    text-align: center;    
    margin-left: 40px;
    margin-right: 40px;	
	
    position: relative;
	
}

nav a
{
	
    color: black;
    text-decoration: none;
    text-transform: uppercase; 	
	
}

nav a:hover 
{
	
    color: black
	
}

nav a::before
{
	
    content: '';
    display: block;
    height: 5px;
    background-color: black;

    top: 0;
    width: 0%;	

    transition: all ease-in-out 150ms;	
	
}

nav a:hover::before
{

    width: 100%;	
	
}

btsdiv
{
    
    width: 100%;
    height: auto;
    
}

.btsh
{
    
    text-align: center;
    color: white;
    font-size: 50px;
    text-decoration: underline;
    font font-family: 'Zen Antique' , serif;
    text-decoration-color: lime; 
    
}

.btsp 
{
    text-align: center;
    color: white;
    font-size: 18px;
    font-family:  'Overpass' , sans-serif;
}