body
{

    background-color: black;
    
}

titlediv
{
    
    width: 100%;
    height: auto;
    
}

.title 
{
    text-align: center;
    color: white;
    font-size: 50px;
    text-decoration: underline;
    padding-top: 25px;
}

infodiv
{
    
    width: 100%;
    height: auto;
    
}

.infoh
{
    
    text-align: center;
    color: white;
    font-size: 40px;
    text-decoration: underline;
    
}

.infop 
{
    text-align: center;
    color: white;
    font-size: 18px;
}